<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-end"
        style="background-image: url(/assets/images/blog.jpeg); background-repeat: no-repeat; background-size: cover; background-position: center;">

        <div
            class="header-page d-flex justify-content-center align-items-center ">
            <h1 class="title font-weight-bold secondary">
                 Service page

            </h1>

        </div>

    </div>
    <div style="min-height: 30vh;">


    </div>

</div>
