
@import "../../shared/css/my_style.scss";

::ng-deep .mat-mdc-form-field-icon-prefix > .mat-icon {
    color: var(--primary-color) !important;
  }
  ::ng-deep mat-datepicker-toggle {
    color: var(--primary-color) !important;
  }
.container-fluid {
    .row:first-child {
      width: 100%;
      object-fit: cover;
      height: 700px;
  
      .header-page{
        background-color: #55480b61;
                width: 50%;
        height: 50%;
        text-align: center;
        h1{
          font-size: 90px;
          line-height: 90px;
        }
  
      }
  
     
    }

  }


  .container {
 
margin-top: 100px;
margin-bottom: 150px;

    div{
        nav{
            ol{

                li:first-child{
                    a{
                        color: var(--primary-color) !important;
                    }
                   
                }

            }
        }
    }

}

.contact-wrap {
    background: #272a34;
}

.contact-wrap h3 {
    color: #fff;
}

#form-message-warning {
    color: red;
}

.form-group {
    margin-bottom: 1rem;
}

#contactForm .form-control {
    font-size: 16px;
}
.contactForm .form-control {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0;
}
.form-control {
    height: 52px;
    background: transparent;
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 14px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
}


.btn.d-bg-primary  {
   
    color: #fff;
    background-color: var(--primary-color) !important;
}


.info-wrap {
    background: #1c1e25;

    p{
        color: #666666;
    }
}

.info-wrap h3 {
    color: white;
    font-size: 18px;
    position: relative;
}

.info-wrap .dbox p span {
    font-weight: 400;
    color: #fff;
}


.info-wrap .dbox {
    width: 100%;
    margin-bottom: 25px;
}


.info-wrap .dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.02);
}


.info-wrap .dbox .icon span {
    font-size: 20px;
    color: #fff;
}


.info-wrap .dbox p a {
    color: rgba(255, 255, 255, 0.3);
}