.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-image: url('/assets/images/Venice.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .signup-box {
    background-color: #ffffffdb;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 400px;
   
  }
  
  .signup-box h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .signup-box .form-group {
    margin-bottom: 15px;
  }
  
  .signup-box .w-100 {
    width: 100%;
  }
  
  .signup-box .mt-3 {
    margin-top: 30px;
  }
  
  
  .other_link:hover{
    color: var(--dark-purple);
    cursor: pointer;

  }
  
  
  
  ::ng-deep .mdc-notched-outline__leading {
    border-color:var(--dark-purple) !important;
  }
  ::ng-deep .mdc-notched-outline__notch {
    border-color:var(--dark-purple) !important;
  }
  ::ng-deep .mdc-notched-outline__trailing {
    border-color:var(--dark-purple) !important;
  }
  
  .signup-btn{
    color: white !important;
  
   
  }
  
  
  .signup-btn:hover{
    color: white !important;
    background-color: var(--dark-purple) !important;
    
  }
  
  mat-icon ,.title{
    color: var(--dark-purple) !important;
  }
  
  
  
  @mixin outline-checkbox {
    .mdc-checkbox {
      .mdc-checkbox__native-control:enabled {
        &.checked,
        &:focus:checked,
        &:indeterminate,
        &[data-indeterminate='true'],
        &:checked,
        &:hover:checked,
        &:not(:disabled):active:checked {
          ~ .mdc-checkbox__background {
            background-color: transparent;
          }
        }
      }
  
      // Define the style for .mdc-checkbox__checkmark
      .mdc-checkbox__native-control:enabled ~ .mdc-checkbox__background {
        .mdc-checkbox__checkmark {
          color: red;
        }
      }
    }
  }