
@import "../../shared/css/my_style.scss";

::ng-deep .mat-mdc-form-field-icon-prefix > .mat-icon {
    color: var(--primary-color) !important;
  }
  ::ng-deep mat-datepicker-toggle {
    color: var(--primary-color) !important;
  }


  .listings {

    margin-top: 150px;



        div{
            nav{
                ol{

                    li:first-child{
                        a{
                            color: var(--primary-color) !important;
                        }

                    }

                }
            }
        }

        .card:hover{

            h3{
                color: var(--primary-color)!important;
            }

        }

    }


    @media (min-width: 768px) {
      .col-md-6.card{
          flex: 0 0 49%;
          max-width: 50%;
      }
  }


  .list-properties{
    .card-img-top {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }

      .badge-success {
        background-color: var(--primary-color) !important;
        color: white;
      }
      .card{
        .card-body{
            .mat-icon{
                color: var(--primary-color) !important;
            }
        }
      }

}

.favorites-features{
  position: absolute;
  top: 10px;
  width: 90%;
  left: 20px;
}

.prices-stars{
  color:var(--primary-color) !important;


}
.property-owner{
  position: absolute;
  top: 200px;
  left: 30px;

  img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid var(--primary-color) !important;
}

}

.card{
    a{
        img.card-img-top{
            width: 100%;
                height: 255px;
        }
    }
  .card-title{
    font-weight: bold;
    color: var(--dark-purple);
  }


  .card-title:hover{
    color: var(--primary-color) !important;
  }
}


.book-vacation
{
  .vacation-title{

    font-size: 27px;
    font-weight: 500;
    line-height: 1.25em;
  }

  .card{
    box-shadow: 0 2px 11px 0 rgba(181, 127, 250, .15);

    .featured_place_count
    {
      font-size: 15px;
    font-weight: 500;
    color: white;
    position: absolute;
    bottom: 85px;

    }
  }
}

.holiday-home{

  .icon{
    margin-bottom: 10px;
    svg{
      width: 2em;
    height: 2em;
    }
  }
  .holiday-home-body{
    h3{
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 768px){
  .input-group {
    box-shadow: 1px 2px 12px 0 transparent;
    margin-left: 0;
    .col-sm-12 {
      flex: 0 0 100% !important;

    }

    .block-search-button

    {

      width: 100%;

      button {
        background: var(--primary-color) !important;
        border-radius: 10px;
        width: 100%;
        height: 50px;
        color: white;
        text-align: center;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;


        .mat-icon {
          font-size: 30px !important;
        }
  }
    }





  }

}

.cdk-overlay-pane {
    min-width: 0;
  }

  .mat-select-panel {
    width: auto !important;
    max-width: 100vw;
  }


  .mat-option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }





  .properties-search-grid{

    gap: 20px;


  .property-search
  {
    padding: 0px !important
  }
  }

  @media only screen and (min-width: 1024px){

    .properties-search-grid{

      gap: 20px;

      .col-md-4 {
        flex: 0 0 30.333333% !important;
        max-width: 30.333333% !important;
    }
  }

  }

  @media only screen and (min-width: 768px) and (max-width: 1024px)  {


    .properties-search-grid{



      .col-md-4 {
        flex: 0 0 45.333333% !important;
        max-width: 48.333333% !important;
    }
  }



}


.dd-display-search{
  background:#e9e9e9 !important;

  gap: 5px;



}


.properties-search-list{
  gap: 20px;
  .card{
    flex-direction: row;

    a{
      width: 35%;

      img{

        width: 100%;
        object-fit: cover;
    height: auto;

      }
    }
    .card-body{
      width: 65%;
    }
  }

  .favorites-features{
    position: absolute;
    top: 10px;
    width: 32%;
    left: 20px;
  }

  .property-owner{
    img{
      width: 40px !important;
      height: 40px !important;
    }
  }


}


.btn-viewMode {
  &.active {
    color: white;
    border: 1px solid var(--primary-color) !important;

    i {
      color: var(--primary-color) !important;
    }
  }
  &.focus{
    box-shadow: 0 0 0 3px rgba(var(--primary-color), 0.4) !important;
  }

}


@media only screen and (max-width: 767px){

  .sidebar-filter{
    display: none;
  }
}

.sort-filter {
  min-width: 250px;
  margin-right: 15px;

  ::ng-deep .mat-form-field-outline {
    color: var(--primary-color);
  }

  ::ng-deep .mat-select-value,
  ::ng-deep .mat-select-arrow {
    color: var(--dark-color);
  }

  ::ng-deep .mat-form-field-label {
    color: var(--dark-purple);
    font-family: 'Lato Regular', sans-serif;
  }

  ::ng-deep .mat-select-panel {
    background-color: var(--white-color);
  }
}

.dd-display-search {
  margin-left: 10px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before{
  display: none !important;
  height: 0px !important;
}


