<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-end"
    style="background-image: url(/assets/images/dd-team.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
  
    <div class="header-page d-flex justify-content-center align-items-center ">
      <h1 class="title font-weight-bold secondary"> About US</h1>


    </div>
  
  </div>


</div>


<div class="container company mb-5" style="margin-top: 500px;">
  <div class="row">

    <div class="col-12 col-md-6">
      <img class="img-fluid rounded" loading="lazy" src="/assets/images/dd-team-2.jpg" alt="About 1">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center">
      <div class="row  ">
        <div class="col-12 ">
          <h2 class="mb-3">Who Are We?</h2>
          <p class=" mb-3">At DD Adventure, we specialize in connecting people with exceptional rental
            properties that feel like home. Our mission is to provide outstanding service that goes beyond the ordinary,
            making the rental experience seamless and enjoyable.

          </p>
          <p class="mb-3">As a rapidly growing agency, we remain deeply committed to our core values: integrity,
            innovation, and client satisfaction. We take pride in our personalized approach,
            leveraging our industry expertise to ensure that every client finds the perfect rental solution to meet
            their unique needs.

          </p>
          <div class="row ">
            <div class="col-12 ">
              <div class="d-flex">
                <div class="mx-4 primary">
                  <i class="fa fa-rocket fa-2x"></i>
                </div>
                <div>
                  <h2 class="h4 mb-3">Innovative Solutions

                    s </h2>
                  <p class="text-secondary mb-0">We blend cutting-edge technology with a keen understanding of the
                    rental market to offer solutions that stand out. Our approach is tailored to make every interaction
                    smooth, efficient, and rewarding.

                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="d-flex">
                <div class="mx-4 primary">
                  <i class="fa fa-thumbs-up fa-2x"></i>
                </div>
                <div>
                  <h2 class="h4 mb-3">Your Trusted Rental Partner

                  </h2>
                  <p class="text-secondary mb-0">We are dedicated to revolutionizing the rental experience by combining
                    creativity with practical solutions. Our goal is to make the process as straightforward and
                    stress-free as possible, ensuring that you can focus on enjoying your new home.

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="p-md-5 facts mb-5">
  <div class="row">
    <div class="container">

      <h2 class="mb-5 primary">Fast Facts </h2>


      <div class="row mb-2">
        <div class="col-sm-12 col-md-3 mb-2">
          <div class="bg-white text-center w-100 h-100 p-4 rounded-lg  text-left">
            <h3> 900+</h3>
            <p>Bookings made through our websites.</p>
            <p>as of February 28, 2023</p>

          </div>
        </div>


        <div class="col-sm-12 col-md-3 mb-2">
          <div class="bg-white text-center w-100 h-100 p-4 rounded-lg text-left">
            <h3> 5K+</h3>
            <p>Bookings made through our websites.</p>
            <p>as of February 28, 2023</p>

          </div>
        </div>


        <div class="col-sm-12 col-md-3 mb-2">
          <div class="bg-white text-center w-100 h-100 p-4 rounded-lg text-left">
            <h3> 40+</h3>
            <p>Bookings made through our websites.</p>
            <p>as of February 28, 2023</p>

          </div>
        </div>

        <div class="col-sm-12 col-md-3 mb-2">
          <div class="bg-white text-center w-100 h-100 p-4 rounded-lg text-left">
            <h3> £90+</h3>
            <p>Bookings made through our websites.</p>
            <p>as of February 28, 2023</p>

          </div>
        </div>



      </div>


      <div class="row">
        <div class="col-sm-12 col-md-3 mb-2">
          <div class="bg-white text-center w-100 h-100 p-4 rounded-lg text-left">
            <h3> 10</h3>
            <p>Bookings made through our websites.</p>
            <p>as of February 28, 2023</p>

          </div>
        </div>


        <div class="col-sm-12 col-md-3 mb-2">
          <div class="bg-white text-center w-100 h-100 p-4 rounded-lg text-left">
            <h3> 2k</h3>
            <p>Bookings made through our websites.</p>
            <p>as of February 28, 2023</p>

          </div>
        </div>


        <div class="col-sm-12 col-md-3 mb-2">
          <div class="bg-white text-center w-100 h-100 p-4 rounded-lg text-left">
            <h3> 87</h3>
            <p>Bookings made through our websites.</p>
            <p>as of February 28, 2023</p>

          </div>
        </div>

        <div class="col-sm-12 col-md-3 mb-2">
          <div class="bg-white text-center w-100 h-100 p-4 rounded-lg text-left">
            <h3> £5k</h3>
            <p>Bookings made through our websites.</p>
            <p>as of February 28, 2023</p>

          </div>
        </div>



      </div>



    </div>
  </div>

</div>





<div class=" p-md-5  owners mb-5">
  <div class="row">
    <div class="container">

      <h2 class="mb-5 primary">Owners </h2>

      <div class="row justify-content-between">

        <div class="card text-left col-md-4 mb-sm-4">
          <img class="card-img-top" src="/assets/images/owner-man.jpg" alt="">
          <div class="card-body">
            <div class="category_name pl-4">
              <div class="property_ratings_agent property_ratings_agent_featured2">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                  class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>


              <a class="featured_listing_title" href="#"> Aesop Anagnos </a>
              <div class="category_tagline">
                Co-founder and rentals owner </div>

            </div>
          </div>
        </div>

        <div class="card text-left col-md-4 mb-sm-4">
          <img class="card-img-top" src="/assets/images/owner-man.jpg" alt="">
          <div class="card-body">
            <div class="category_name pl-4">
              <div class="property_ratings_agent property_ratings_agent_featured2">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                  class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>


              <a class="featured_listing_title" href="#"> Aesop Anagnos </a>
              <div class="category_tagline">
                Co-founder and rentals owner </div>

            </div>
          </div>
        </div>

        <div class="card text-left col-md-4 mb-sm-4">
          <img class="card-img-top" src="/assets/images/owner-man.jpg" alt="">
          <div class="card-body">
            <div class="category_name pl-4">
              <div class="property_ratings_agent property_ratings_agent_featured2">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                  class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>


              <a class="featured_listing_title" href="#"> Aesop Anagnos </a>
              <div class="category_tagline">
                Co-founder and rentals owner </div>

            </div>
          </div>
        </div>

      </div>




    </div>

  </div>


</div>