.mat-form-field {
    margin-right: 10px;
  }
  
  .mat-icon {
    margin-right: 5px;
  }
  
  .form-field {
    margin-right: 0;
    padding: 0px;
  }
  
  .input-group {
    box-shadow: 1px 2px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 58px 58px 58px 58px;
    align-items: center;
    width: 100%;
  
    .col-md-3 {
      flex: 0 0 22%;
    }
  
    button {
      background: var(--primary-color) !important;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      color: white;
      text-align: center;
  
      .mat-icon {
        font-size: 30px !important;
      }
    }
  
    ::ng-deep .mat-mdc-form-field-icon-prefix > .mat-icon {
      color: var(--primary-color) !important;
    }
  
    ::ng-deep mat-datepicker-toggle {
      color: var(--primary-color) !important;
    }
  
    ::ng-deep .mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
      background: white !important;
    }
  
    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
  
    ::ng-deep .mat-mdc-form-field-focus-overlay {
      background-color: rgb(255, 255, 255);
    }
  
    ::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
      color: var(--dark-purple) !important;
    }
  
    ::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
      border-bottom: 1px solid var(--dark-purple) !important;
    }
  
    ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
      display: none !important;
    }
  }
  
  .guests-modal {
    button {
      width: 25px;
      height: 25px;
      font-size: 14px;
      cursor: pointer;
      background-color: var(--dark-purple) !important;
      border: none;
    }
  
    .item-guest {
      margin-bottom: 10px;
    }
  
    .done-geusts {
      width: max-content;
      height: max-content;
      border-radius: 10px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .input-group {
      box-shadow: 1px 2px 12px 0 transparent;
      margin-left: 0;
  
      .col-sm-12 {
        flex: 0 0 100% !important;
      }
  
      .block-search-button {
        width: 100%;
  
        button {
          background: var(--primary-color) !important;
          border-radius: 10px;
          width: 100%;
          height: 50px;
          color: white;
          text-align: center;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
  
          .mat-icon {
            font-size: 30px !important;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 767px) {
    .guests-modal {
      top: 0% !important;
      left: 0px;
    }
  }