<footer class="section d-bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="">
                    <h5 class="footer-heading text-uppercase text-white">Information</h5>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a routerLink="">Pages</a></li>
                        <li><a routerLink="">Our Team</a></li>
                        <li><a routerLink="">Feuchers</a></li>
                        <li><a routerLink="">Pricing</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="">
                    <h5 class="footer-heading text-uppercase text-white">Ressources</h5>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a routerLink="about-us">About us </a></li>
                        <li><a routerLink="">Service</a></li>
                        <li><a routerLink="faq">FAQ</a></li>
                        <li><a routerLink="contact-us">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="">
                    <h5 class="footer-heading text-uppercase text-white">Help</h5>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a routerLink="">Sign Up </a></li>
                        <li><a routerLink="">Login</a></li>
                        <li><a routerLink="">Terms of Services</a></li>
                        <li><a routerLink="">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="footer-link">
                    <h5 class="footer-heading text-uppercase text-white">Contact Us</h5>
                    <p class="contact-info mt-4">Contact us if need help withanything</p>
                    <p class="contact-info gap-1"><i class="fa fa-envelope mr-2" aria-hidden="true"></i> <a href="mailto:info@dd-adventure.com" class="text-decoration-none"> info&#64;dd-adventure.com</a>  </p>
                    <p class="contact-info"><i class="fa fa-phone mr-2" aria-hidden="true"></i> <a href="tel:+01 123-456-7890" class="text-decoration-none"> +01 123-456-7890</a></p>
                    <div class="mt-5">
                        <ul class="list-inline ">
                            <li class="list-inline-item"><a href="#"><i class="fa facebook footer-social-icon fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa twitter footer-social-icon fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa google footer-social-icon fa-google"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa apple footer-social-icon fa-apple"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="text-center mt-5">
        <p class="footer-alt mb-0 f-14"> © {{ currentYear }} DD-Adventure, All Rights Reserved</p>
    </div>
</footer>