<div class="container mt-5">
 
  
  
    <!-- Navigation propertyTypes -->
  
    <div class="col-12 mb-4 mt-5">
      <owl-carousel-o [options]="carouselOptions">
        <ng-container *ngFor="let type of propertyTypes">
          <ng-template carouselSlide>
            <a class="btn shadow-sm carousel-item-link p-3 bg-white rounded d-flex flex-column  align-items-center justify-content-center"
               (click)="filterByPlaceType(type.name)">
              <mat-icon>{{type.icon}}</mat-icon>
              <span class="carousel-item-text">{{type.name}}</span>
            </a>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  
  
  
  
  
  </div>
  
  <div class="container-fluid mt-5 px-md-5 list-properties">
  
  
    <!-- start properties loop  -->
  
    <div class="row">
      <div class="col-sm-6 col-md-4 mb-4" *ngFor="let property of properties">
        <div class="card">
          <a [routerLink]="['/properties', property.id, 'property-details']">
  
               <img [src]="property.images ? property.images[0].imageUrl: 'assets/images/Condos.png'" class="card-img-top" alt="Listing Image">
  
          </a>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2 favorites-features">
              <span class="badge badge-success">Featured</span>
              <mat-icon>favorite</mat-icon>
            </div>
            <div class="property-owner ">
              <a href="#">
                <img src="./assets/images/owner-man.jpg" alt="" width="50">
  
              </a>
            </div>
            <h3 class="card-title">{{property.title ? property.title : "-------"}}</h3>
            <p class="card-text">{{property.place ? property.place : "-------"}} - {{property.placeType ? property.placeType : "-------"}}</p>
            <p class="card-text">{{property.guests ? property.guests : "0"}} Guests · {{property.bedrooms ? property.bedrooms : "0"}} bedrooms · {{property.bathrooms ? property.bathrooms : "0"}} bathrooms</p>
            <div class="d-flex justify-content-between align-items-center  prices-stars">
              <p class="mb-0">€ {{property.price ? property.price : 0}}/night</p>
              <div class="d-flex align-items-center ">
                <mat-icon>star</mat-icon>
                <span>5.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
  
  
    </div>

</div>
