<div class="container mt-5">
 
  
  
    <!-- Navigation propertyTypes -->
  
    <div class="col-12 mb-4 mt-5">
      <owl-carousel-o [options]="carouselOptions">
        <ng-container *ngFor="let type of propertyTypes">
          <ng-template carouselSlide>
            <a class="btn shadow-sm carousel-item-link p-3 bg-white rounded d-flex flex-column  align-items-center justify-content-center"
               (click)="filterByPlaceType(type.name)">
              <mat-icon>{{type.icon}}</mat-icon>
              <span class="carousel-item-text">{{type.name}}</span>
            </a>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  
  
  
  
  
  </div>
  
  <div class="container-fluid mt-5 px-md-5 list-properties">
  
  
    <!-- start trips loop  -->
  
    <div class="row">
      <div class="col-sm-6 col-md-4 mb-4" *ngFor="let trip of trips">
        <div class="card">
          <a [routerLink]="['/properties', trip.id, 'property-details']">
  
               <img [src]="trip.files ? trip.files[0].fileUrl : 'assets/images/Condos.png'" class="card-img-top" alt="Listing Image"> 

                <!-- <img src="assets/images/travels/travel-2.jpg" class="card-img-top" alt="Listing Image">  -->

  
          </a>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2 favorites-features">
              <!-- <span class="badge badge-success">Featured</span> -->
              <mat-icon>favorite</mat-icon>
            </div>
            <div class="property-owner ">
              <a href="#">
                <img src="./assets/images/owner-man.jpg" alt="" width="50">
  
              </a>
            </div>
            <h3 class="card-title">{{trip.title ? trip.title : "-------"}}</h3>


            <div class="d-flex justify-content-between align-items-center  ">
              <p class="card-text">{{trip.type ? trip.type : "-------"}} </p>
              <p class="card-text">{{ trip.durationDays > 1 ? trip.durationDays + ' Days' : trip.durationDays + ' Day' }}</p>

            </div>


            <div class="d-flex justify-content-between align-items-center  prices-stars">
              <p class="mb-0"> {{trip.packagePrice ? trip.packagePrice : 0}}/package Price</p>
              <div class="d-flex align-items-center ">
                <!-- <mat-icon>star</mat-icon> -->
                <span>{{trip.currency ? trip.currency : "-------"}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
  
  
    </div>

        <!-- end trips loop  -->


</div>
