<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-end"
        style="background-image: url(/assets/images/faq.jpeg); background-repeat: no-repeat; background-size: cover; background-position: center;">

        <div class="header-page d-flex justify-content-center align-items-center ">
            <h1 class="title font-weight-bold secondary"> Frequently Asked Questions
            </h1>


        </div>

    </div>






</div>


<div class="container faq-list ">
    <div class="row">
        <div class="col-sm-12 col-md-6">


            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header p-3" id="headingOne">
                        <h2 class="mb-0" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Cand I do bookings instantly?
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                            ullamcorper mattis, pulvinar dapibus leo.

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-3" id="headingTwo">
                        <h2 class="mb-0 dd-bg-whietext-left collapsed" 
                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                What methods of payment accepted?
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Some placeholder content for the second accordion panel. This panel is hidden by default.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-3" id="headingThree">
                        <h2 class="mb-0  collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                How do I edit or remove a payment method?
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                            ullamcorper mattis, pulvinar dapibus leo.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header p-3" id="headingFour">
                        <h2 class="mb-0" type="button"
                                data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                How long does the booking process take?
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                            ullamcorper mattis, pulvinar dapibus leo.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header p-3 p-3" id="headingFive">
                        <h2 class="mb-0 collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                How can I contact you?
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                            mattis, pulvinar dapibus leo.
                        </div>
                    </div>
                </div>
    
    
   
            </div>


</div>

<div class="col-sm-12 col-md-6">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header p-3" id="headingOne">
                <h2 class="mb-0" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Cand I do bookings instantly?
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                data-parent="#accordionExample">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                    ullamcorper mattis, pulvinar dapibus leo.

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header p-3" id="headingTwo">
                <h2 class="mb-0 dd-bg-whietext-left collapsed" 
                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        What methods of payment accepted?
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Some placeholder content for the second accordion panel. This panel is hidden by default.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header p-3" id="headingThree">
                <h2 class="mb-0  collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                        How do I edit or remove a payment method?
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                data-parent="#accordionExample">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                    ullamcorper mattis, pulvinar dapibus leo.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header p-3" id="headingFour">
                <h2 class="mb-0" type="button"
                        data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                        aria-controls="collapseFour">
                        How long does the booking process take?
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                data-parent="#accordionExample">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                    ullamcorper mattis, pulvinar dapibus leo.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header p-3 p-3" id="headingFive">
                <h2 class="mb-0 collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        How can I contact you?
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.
                </div>
            </div>
        </div>
    </div>

</div>
</div>

</div>